<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Where Wear</title>
    <link defer rel='stylesheet' href='style.css'/>
    <script defer rel='stylesheet' src="script.js"></script>
</head>
<body>
    <div style="text-align: center; width: 100%; height: 50px">
        <h1>Where Wear</h1>
    </div>
    <form>
        <label for="wCity" style="padding-right: 100px">City:</label>
        <input type="text" name="wCity"><br/>
        <br/>
        <label for="wState" style="padding-right: 100px">State: </label>
        <input type="text" name="wState"><br/>
    </form>
    <p>This is a basic HTML page.</p>
</body>
</html>
